{% extends 'front/base.html' %}
{% from 'front/_macros.html' import static %}

{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static('css/login.css') }}">
{% endblock %}

{% block body %}
    <form action="{{ url_for('front.login') }}" method="POST">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="has-text-centered">
                    <div class="login-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" type="text" name="username" placeholder="请输入用户名">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <br>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" type="password" name="password" placeholder="请输入密码">
                                <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="remember" value="1">
                                记住我
                            </label>
                        </div>
                        {% if not username and not password %}
                            <p style="color: red ;margin-bottom: 10px">{{ get_flashed_messages()[0] }}</p>
                        {% else %}
                            <p style="color: red ;margin-bottom: 10px">{{ get_flashed_messages()[1] }}</p>
                        {% endif %}

                        <input class="button is-primary  is-medium" type="submit" value="登录">
                        <p class="go-register">没有账号？
                            <a style="color: #00b89c;" href="{{ url_for('front.register') }}">立即注册&nbsp;
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{#        {% for message in get_flashed_messages() %}#}
{#            <p style="color: red ;margin-bottom: 10px">{{ message }}</p>#}
{#        {% endfor %}#}
    </form>
{% endblock %}