{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <form action="" method="post">
            <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="has-text-centered">
                    <p class="control">
                        <input class="input is-primary is-large" placeholder="请输入你要搜索的关键词...">
                    </p>
                    <br>
                    <a class="button is-primary is-medium">搜索图书</a>
                    <a class="button is-primary is-medium">搜索电影</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}